<div class="content container justify-content-center">
    <header class="row">
        <div class="col-md-2">
            logo
        </div>
        <div class="col-md-8">
            <h1 id="mainHeading">Forever Bricks</h1>
            <p id="welcome">Welcome to find your Forever Bricks!</p>
        </div>
    </header>
    <div class="row">