<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Forever Bricks | {{title}}</title>
</head>
<body>
    <header>
        <h1>Forever Bricks</h1>
        <p id="welcome">Welcome to find your forever bricks!</p>
    </header>
    {{{body}}}
</body>
</html>