{{> header}}

{{> navbar}}

<main class="col-md-8">
    <h2>Ooops!</h2>

    <p>The resource you were looking for doesn't exist.
    <img src="/images/face.png" alt="Sad Lego minifigure head" class="img-fluid" id="errorface"></p>

</main>

<aside class="col-md-2">
    sidebar stuff goes here
</aside>

{{> footer}}