<h2>Parts</h2>

<div>
    {{#each parts}}
        <div class="part">
            <img src="images/3001.jpg">
            {{this.id}}<br>
            {{this.name}}<br>
            {{this.year}}<br><br>
        </div>
    {{/each}}
</div>